<div class="subscribe-wrapper">
  <div class="subscribe container">
    {{> "email_signup"}}
    <i class="email-arrow"></i>
    <div class="header-social">
      <a class="mail"></a>
      <a class="instagram" href="http://www.instagram.com/erichagemann" target="  _blank"></a>
      <a class="facebook" href="http://www.facebook.com/erichagemann" target="  _blank"></a>
      <a class="twitter" href="http://www.twitter.com/ehagemann" target="_blank"></a>
    </div>
  </div>

</div>