<div class="subscribe-wrapper">
  {{> "email_signup"}}
  <div class="header-social">
    <a class="instagram" href="http://www.instagram.com/erichagemann" target="  _blank"></a>
    <a class="facebook" href="http://www.facebook.com/erichagemann" target="  _blank"></a>
    <a class="twitter" href="http://www.twitter.com/ehagemann" target="_blank"></a>
  </div>
</div>