    <div class="nav-bar-wrapper">
      <div class="nav-bar container">

        <div class="left-side-header">
          <a href="/" class="site-title">
            <h1>Keepit<span>137</span></h1>
            <h4 class="sub-title">The daily effective dose</h4>
          </a>
        </div>
        <div class="hamburger" hidden></div>
        <div class="right-side-header">
          <div class="nav-bar-links">
            <i class="fa fa-times-circle" aria-hidden="true"></i>
            <ul>
              <li><a data-page="blog" class="nav-link" href="/">Blog</a></li>
              <li><a data-page="about" class="nav-link" href="/about/">About</a></li>
              <li><a data-page="contact" class="nav-link" href="/contact/">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>


      <div class="clear-modal-layer" hidden></div>
    </div>