<div class="portals clearfix">
  <div class="portal col-3 podcast">
    <a href="#">
      <img src="../assets/images/headphones.png">
      <div class="portal-content">
        <p>Podcast</p>
      </div>
    </a>
  </div>
  <div class="portal col-3 blog">
    <a href="#">
      <img src="../assets/images/blog.png">
      <div class="portal-content">
        <p>Blog</p>
      </div>
    </a>
  </div>
  <div class="portal col-3 about">
    <a href="#">
      <img src="http://placehold.it/350x300">
      <div class="portal-content">
        <p>Learn</p>
      </div>
    </a>
  </div>
</div>