<div id="topics-bar" class="topics-wrapper clearfix">
  <h3 id="topics-title">Topics<i class="fa fa-plus-square" aria-hidden="true"></i></h3>

</div>
<div id="all-topics" hidden>
{{#get "tags" limit="all" order="name asc"}}{{tags separator=" "}}{{/get}}
</div>

