{{!< default}}

  {{> "nav_bar"}}
<div id="main-page" class="page">

  <div class="main-page-header">
    {{> "hero_header"}}
  </div>
    {{> "topics_bar"}}
  <div class="page-content blog-content container">
  {{> "blog_loop"}}
  </div>
</div>