{{!< default}}

<div name="blog" id="main-page" class="page">
  <div class="page-content blog-content clearfix container">
    {{> "blog_loop"}}
  </div>
</div>
<div class="clear-modal-layer" hidden></div>