{{!< default}}
<div name="contact" id="contact-page" class="page">
  {{> "nav_bar"}}
  <div class="page-content">
    <div class="contact-content container">
      <div class="section">
        <h3>Email</h3>
        <p>You can get ahold of Eric at <a href="mailto:eric@keepit137.com">eric@keepit137.com</a></p>
        <h3>On social</h3>
        <div class="header-social">
          <a class="instagram" href="http://www.instagram.com/erichagemann" target="  _blank"></a>
          <a class="facebook" href="http://www.facebook.com/erichagemann" target="  _blank"></a>
          <a class="twitter" href="http://www.twitter.com/ehagemann" target="_blank"></a>
        </div>
        <h3>Elsewhere online</h3>
        <p><a href="http://www.mynlpt.com">Next Level Performance Training</a></p>
        <p><a href="http://www.erichagemann.com">Personal website</a></p>
      </div>
    </div>
  </div>
    {{> "email_subscribe_bar"}}
</div>


