{{!< default}}


<div name="blog" class="page blog-page">
{{> "blog_header_bar"}}
  <div class="page-content">
    <div class="blog-content container">
      {{> "blog_loop"}}
    </div>
    {{> "email_subscribe_bar"}}
  </div>
</div>
