{{!< default}}

<div name="about" id="about-page" class="page">
  {{> "nav_bar"}}
  <div class="page-content">
    <div class="about-content container clearfix">
    <h2>Eric Hagemann, MSc, CSCS</h2>
    <img class="img-right-250" src="/assets/images/author-img-2.jpg" />
    <p>In 2003, at age 16, Eric left his home in Maine and moved north to Ontario, Canada to pursue his dreams of professional hockey. After three seasons and little progress, Eric decided it was time to move on from the game and set his sights on an education.</p>
    <p>In 2007, Eric graduated from the University of Waterloo with a degree in Kinesiology. He then went on to study motor learning and skill acquisition in the Faculty of Medicine at the University of Toronto, and graduated with a Master's in Rehabilitation Science in 2009.</p>
    <p>After his academic career, he pursued life as a coach. First in Tennessee, working as a hockey director and beginning his studies in strength and conditioning and performance enhancement.</p>
    <p>Then in 2010, Eric became a Certified Strength and Conditioning Specialist through the NSCA, and moved back to Canada to take the job as Head Strength and Conditioning Coach at <a href="http://www.mynlpt.com">Next Level Performance Training</a> in Cambridge, Ontario.</p>
    <p>Today, Eric is still at NLPT, currently serving as the Director of Training where he oversees athlete programming, develops business strategy and marketing initiatives, and cleans the occasional toilet.</p>
    <p>His personal website and resume can be found at <a href="http://www.erichagemann.com">erichagemann.com</a></p>

    </div>
  </div>
    {{> "email_subscribe_bar"}}
</div>

