{{!< default}}

<div name="about" id="about-page" class="page">
  {{> "nav_bar"}}
  <div class="page-content">
    <div class="about-content container clearfix">
      <h2>My story</h2>
      <img src="/assets/images/author-img-2.jpg" />
      <p>My name is Eric Hagemann, and I train athletes for a living.</p>

      <p>But despite being strong, fit, healthy, I’ve never been able to jog more than a lap around the local high school track without getting completely exhausted. For a guy that’s supposed to be some kind of health and fitness role model, my utter inability to sustain even a moderate jog has been a major source of embarrassment for most of my life. </p>

      <p>So how did I get this way? </p>

      <p>Just like many people who fall short at something, I simply told myself a story. A story that made me feel better, gave me an out, and made sense to other people. My story was simple. And it was true...sort of.</p>

      <p>My story was: I couldn’t physically run. </p>

      <p>The thing is--and this is true--I have a collapsed arch on my left foot. I’ve had it since childhood and it probably developed due to lack of--you guessed it--running. </p>

      <p>Despite being a very athletic kid, I always conveniently gravitated to sports and positions that didn’t require much running. When spring rolled around and it was time to sign up for baseball, I opted for catcher. When it was soccer season, I went for goalkeeper. </p>
      <p>Basketball? No thanks. </p>
      <p>Track? You must be joking. </p>
      <p>Cross-country? Do people actually do that voluntarily? </p>
      <p>Hockey? Perfect. Goalie, please.</p>

      <p>Hockey became my life. And I was good at it. The fact that it never required more than one foot in the air at the same time was just a cherry on top.</p>

      <p>So what is a collapsed arch? It basically means that muscular structures of my feet aren’t doing their job to maintain an arch when I put weight on my foot. As a result, the bottom of the foot “collapses” to the ground and the alignment of my foot and anke gets out of whack, putting uneven stress on other muscular structures of the foot, which results in pain. </p>

      <p>The thing I liked most about the collapsed arch story was that it sounded quite dramatic. </p>

      <p>“Oh goodness your arched just...COLLAPSED!?!”</p>

      <p>“Yes, yes...I’m afraid it’s true.”</p>

      <p>So what was it like living with such a condition? Basically my ankle got sore if I stayed on my feet for more than 30 minutes. Horrifying, I know. But it got worse when I ran and so that was the end of it.</p>

      <p>I just wasn’t a runner.</p>

      <p>But last summer something changed: my friends asked me if I wanted to do a local triathlon.</p>

      <p>“Sure I’d love to, but I’ll just do the duathlon (swim & bike only). Since, as we all know, I can’t run.”</p>

      <p>Initially this was my plan. But not long after I’d made the decision to race did I become less and less comfortable my version of the facts. I was a young, fit, healthy guy who was so terrified of having to jog for a few kilometers, that now I was now enrolling in special sub-sections of athletic events just so I wouldn’t have to face my demons.  </p>

      <p>For nearly 20-years I had avoided running like the plague. I had settled on the idea that I had a physical disability and never even gave running a fair shot. I was starting to get tired of being afraid of it. Tired of it always dictating what I chose to participate in.</p>

      <img id="run-image-1" src="/assets/images/tri-pic-2.png" />

      <p>True physical disabilities exist, but clearly I wasn’t suffering from one. For some reason, I just started to get honest with myself and saw my story for what it was: a bullshit excuse.</p>

      <p>That was May of 2016. </p>

      <p>The triathlon, which was mid-August, was by all measures a success. I clocked in my 7k run with a time of 44-minutes--laughably slow. </p>

      <p>There were old people and children passing me the entire time. But I ran it steadily and without any more than the requisite amount of exhaustion that one would expect in a triathlon. And my foot was fine.</p>

      <p>All this wasted time. All this storytelling. I was happy with what I had accomplished and extremely pissed off at the same time.</p>

      <p>Over the course of training for the race, a strange thing started to happen. I started to like running. Although I was stunningly bad at it, I began to see glimpses of its lore. It was simple. Pure. Rhythmic. Running slowly turned from agony to peace. And instead of dreading it, I began to welcome it. </p>

      <p>I’m writing this in October 2016. I feel like to a degree, I’ve conquered my running demon. But it’s still not gone. There are days where it’s a battle to find the time. There are workouts where I still feel every one of my 202 pounds with every step. And of course I’m still just so damn slow. </p>

      <p>At times, I can still hear myself saying “you can’t run.”</p>

      <p>Running still isn’t in my nature. But it could be. And running fast definitely isn’t within my capacity. But it could be as well.</p>

      <p>Keep It 137 is part of my plan to help me achieve both. My goal is to run for 137 days in a row. Rain, shine, or snow.</p>

      <p>I’m sure you’re wondering why 137. Or why I created a whole website around this rather unglorious athletic goal. I get it. This all seems unnecessary. But I assure you it’s not. </p>

      <p>But I’m interested in the larger topic of behavior change and habit formation. I’m curious about why we do what we do, who we think we are, and the stories we tell ourselves. </p>

      <p>I like questioning assumptions and experimenting with new ideas. And I’m fascinated with the process of learning something skills and abilities.</p>

      <p>I’m sure you’ve got something going on in your life that you’d like to change. A habit you can’t shake, or a routine you just can’t adopt. </p>

      <p>If you do, or if you’d just like to follow along with my journey. Fill out your email below and I’ll keep you up to date on my progress.</p>

      <p>Thanks for stopping by,</p>
      <p class="signature">Eric</p>
    </div>
    {{> "email_subscribe_bar"}}
  </div>
</div>

