{{!< default}}
<div name="contact" id="contact-page" class="page">
  {{> "nav_bar"}}
  <div class="page-content">
    <div class="contact-content container">
      <div class="section">
        <p>Please direct all emails to: <a href="mailto:eric@keepit137.com" class="button email">eric@keepit137.com</a></p>
      </div>
    </div>
    {{> "email_subscribe_bar"}}
  </div>
</div>


